.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0e9a2a, #21bd27, #0e9a2a, #21bd27);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #04850b, #07730d, #07ad0a, #0e9037);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100%;
    margin-inline-start: 200px;
    margin-inline-end: 80px;
    width: 70%;
    text-align: center;
    font-size: 30px;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    input {
        text-align: center;
    
    }