h1 {
    background-color: rgb(6, 208, 6);
    margin-inline-start: 200px;
    margin-inline-end: 80px;
    width: 70%;
    text-align: center;
}

ul {
    background-color: white;
    margin-inline-start: 200px;
    margin-inline-end: 80px;
    width: 50%;
    letter-spacing: 2.1;

}

il {
    background-color: white;
    margin-inline-start: 200px;
    margin-inline-end: 70px;
    width: 68%;
}

fieldset {
    background-color: white;
    margin-inline-start: 200px;
    margin-inline-end: 70px;
    width: 68%;
}
